.text-center= paginate collection, :theme => 'twitter-bootstrap-4', remote: true
%table.table.table-bordered.table-condensed
  %thead
    %tr
      %th Time
      %th Incident
      %th Event
      %th Message
      %th Person
  %tbody
    - collection.each do |evt|
      %tr
        %td(style="white-space: nowrap")=evt.event_time.try :to_s, :date_time
        %td
          -if evt.incident
            =link_to evt.incident.incident_number, incidents_chapter_incident_path(evt.incident.chapter, evt.incident)
        %td=evt.humanized_event
        %td(style="width: 50%")=simple_format evt.message, {}, wrapper_tag: :span
        %td=evt.person.try(:full_name)
.text-center= paginate collection, :theme => 'twitter-bootstrap-4', remote: true
