
%h3 
  Timeline
  -if can? :create, Incidents::EventLog
    %button.btn.btn-primary{data: {edit_panel: new_resource_path}} Add Log

.well
  =search_form_for search, class: "form-inline", url: collection_path, method: :get do |f|
    .row
      .form-group.col-sm-3
        %label
          Event Type:
        =f.select :event_eq, options_for_select(resource.humanized_events.map{|x| [x.humanized, x.value]}), {prompt: "All"}, class: "form-control"
      .form-group.col-sm-3
        %label
          Show Events From:
        =select_tag :event_scope, options_for_select([['ECC', 'global'], ['Incident', 'incident']], current_scopes[:event_scope]), prompt: "All", class: "form-control"
      .form-group.col-sm-3
        %label
          Events Before:
        =f.text_field :event_time_lteq, value: f.object.event_time_lteq.try(:to_date), class: "form-control"
      .form-group.col-sm-3
        %label.control-label
          Message Contains:
        =f.text_field :message_cont, class: "form-control"
    .row
      .col-sm-12
        =f.submit 'Search', class: "btn btn-default"

.event-logs-table{data: {refresh_name: "timeline", refresh: collection_path(partial: 'table', q: params[:q])}}
  =render 'table'

.modal.fade#edit-modal
  .modal-header 
    %a.close(data-dismiss="modal") &times;
    %h3 Edit
  .modal-body
  .modal-footer
    %a.btn.btn-primary(data-dismiss="modal") Close
- content_for :footer_js do
  :javascript
    $(function() {
      editPanelController = new IncidentEditPanelController();
      eventLogsController = new EventLogsController();
    });
  =chapter_goinstant_setup