
%h3 
  Timeline
  -if can? :create, Incidents::EventLog
    %button.btn.btn-primary{data: {edit_panel: new_resource_path}} Add Log

.well
  =form_tag incidents_region_event_logs_path, class: "form-inline", method: :get do
    .row
      .form-group.col-sm-3
        %label
          Event Type:
        =select_tag :event, options_for_select(resource.humanized_events.map{|x| [x.humanized, x.value]}, current_scopes[:event]), prompt: "All", class: "form-control"
      .form-group.col-sm-3
        %label
          Show Events From:
        =select_tag :event_scope, options_for_select([['ECC', 'global'], ['Incident', 'incident']], current_scopes[:event_scope]), prompt: "All", class: "form-control"
      .form-group.col-sm-3
        %label
          Events Before:
        =date_field_tag :event_time_lteq, current_scopes[:event_time_lteq], class: "form-control"
      .form-group.col-sm-3
        %label.control-label
          Message Contains:
        =text_field_tag :message_contains, current_scopes[:message_contains], class: "form-control"
    .row
      .col-sm-12
        =submit_tag 'Search', class: "btn btn-default"

.event-logs-table{data: {refresh_name: "timeline", refresh: collection_path(partial: 'table', q: params[:q])}}
  =render 'table'

.modal.fade#edit-modal
  .modal-header 
    %a.close(data-dismiss="modal") &times;
    %h3 Edit
  .modal-body
  .modal-footer
    %a.btn.btn-primary(data-dismiss="modal") Close
- content_for :footer_js do
  :javascript
    $(function() {
      editPanelController = new IncidentEditPanelController();
      eventLogsController = new EventLogsController();
    });
  =region_pubnub_setup