- monthly_groups.each do |group, shifts|
  - my_shift = my_shift_for_group_on_day(group.id, date)
  %div{class: my_shift && 'my-shift'}
    %strong=group.name
    - shifts = shifts.select{|sh|sh.active_on_day?(date)}
    - shifts.each do |shift|
      - assignments=assignments_for_shift_on_day(shift, date).to_a
      %div{class: assignments.length < shift.min_desired_signups && 'open'}
        = render_shift_assignment_info(editable, person, shift, my_shift, date, assignments, 'monthly')