- calendar.monthly_groups.each do |group, shifts|
  - my_shifts = calendar.my_shifts_for_group_on_day(group.id, date)
  - shifts = shifts.select{|sh|sh.active_on_day?(date, group)}
  - next if shifts.blank?
  %div{class: my_shifts.present? && 'my-shift'}
    %strong=group.name
    - render_shifts group, shifts, date, editable do |idx, is_first, is_last, needs_signups, row_html|
      %div{class: needs_signups && 'open'}
        = row_html