- all_shifts = calendar.all_groups.values.flatten
- shifts_available = Scheduler::Shift.shifts_available_by_day(all_shifts, month)
- shifts_available.each do |shift, group_dates|
  %h4
    -if show_county_name?
      =shift.county.name
      ==-
    =shift.name
  - group_dates.each do |group, dates|
    %div
      %strong=group.name
      - dates.each do |date, avail|
        -if avail and date >= Date.current
          = date.day
