- all_shifts = all_groups.values.flatten
- shifts_available = Scheduler::Shift.shifts_available_by_day(all_shifts, month)
- all_groups.each do |group, shifts|
  %h4=group.name
  - shifts.each do |shift|
    %div
      / Get a hash of date->number of registrations in one query
      - counts = shifts_available[shift]
      %strong
        -if show_county_name
          =shift.county.name
          ==-
        =shift.name
      - counts.each do |date, avail|
        -if avail and date >= Date.today
          = date.day