%h3.center
  -past = month.last_month; future = month.next_month
  =link_to '<', scheduler_calendar_path(past.year, past.strftime("%B").downcase, ajax_params), class: 'noprint'
  =month.strftime "%B %Y"
  -if show_shifts == :county
    ==-
    = (id = show_counties.first) ? Roster::County.find(id).name : ""
  -elsif show_shifts == :mine and person
    ==-
    = person.first_name
    = person.last_name
  =link_to '>', scheduler_calendar_path(future.year, future.strftime("%B").downcase, ajax_params), class: 'noprint'