=form_tag '', method: :get, class: 'noprint' do
  =select_tag "shift_territories[]", options_from_collection_for_select(current_region.shift_territories.enabled, :id, :name, show_shift_territories), id: 'choose-shift_territory'
  =submit_tag 'Show'
  %br
  View As: 
  #view-as-links
    =view_as_links