=form_tag '', method: :get, class: 'noprint' do
  =select_tag "counties[]", options_from_collection_for_select(current_region.counties.enabled, :id, :name, show_counties), id: 'choose-county'
  =submit_tag 'Show'
  %br
  View As: 
  #view-as-links
    =view_as_links