- resource = Incidents::IncidentPresenter.new resource
- dat = resource.dat_incident

%strong Type:
=resource.humanized_incident_type
%br

-if dat
  %strong Call Type:
  =resource.dat_incident.humanized_incident_call_type
  %br

%strong Date:
=resource.date.to_s :dow_short
%br

%strong Team Lead:
=resource.team_lead_name
%br

%strong Number of Responders:
=resource.on_scene_responders
%br

-if dat
  %strong Clients:
  -if resource.num_adults && resource.num_adults > 0
    =pluralize(resource.num_adults, "Adult")
  -if resource.num_children && resource.num_children > 0
    =pluralize(resource.num_children, "Child")
  %br

  %strong Units Affected:
  =dat.units_total
  %br

  %strong Services Provided:
  =resource.services_description
  %br

%strong View In:
=link_to 'DCSOps', polymorphic_url(resource)
%br