// Place all the styles related to the Incidents::DatIncidents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table.form-table {
  .control-group {
    margin: 0;
  }

  label.control-label {
    float: none;
    width: auto;
    display: none;
  }

  .controls {
    float: none;
    display: inline-block;
    width: auto;
    margin: 0;
    //margin: 0 0 0 20px;
  }
}

body.incidents.dat_incidents {
  input, select {
    width: 90%;
  }

  .controls {
    width: 172px;
  }

  form {
    button.address-lookup {
      margin-top: -5px;
    }

    button.btn-block {
      width: 100%;
    }
  }

  input[type="checkbox"], input[type="submit"] {
    width: auto;
    padding-right: inherit;
  }

  ul.nav .error {
    color: rgb(185, 74, 72);
  }

}

@media (max-width: 767px) {
  body.incidents.dat_incidents {
    ul.nav.fixed {
      position: fixed;
      left: 0; top: 0; right: 0;
      height: 40px;
      background-color: white;
      z-index: 100;
    }
    table.form-table {
      tr {
        display: block;
        border-top: 1px solid gray;
      }
      td {
        display: inline-block;
        border: 0;
      }
    }
  }
}