// Place all the styles related to the Incidents::Incidents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body.incidents {
  pre {
    font-size: 80%;
    line-height: 1.5;
  }

  .amodal form, .well form {
    margin: 0;
    padding: 0;
    fieldset legend {
      display: none;
    }
  }
}

.table-nested-container {
  padding: 0 !important;
}

.table.table-nested {
  padding: 0;
  margin: 0;
  border-collapse: collapse;
  border: none;

  tbody:first-child, thead:first-child {
    tr:first-child {
      > * {
        border-top: none !important;
      }
    }
  }

  tbody, thead {
    tr > *:first-child {
      border-left: none;
    }
    tr > *:last-child {
      border-right: none
    }
  }

  tbody:last-child, thead:last-child, tfoot:last-child {
    tr:last-child > * {
      border-bottom: none;
    }
  }
}

.incident-number-invalid {
  text-decoration: line-through;
}

.responders-table {
  .travel-short .distance, .travel-short .travel-time {
    color: green;
  }
  .travel-medium .distance, .travel-medium .travel-time {
    color: #c09853;
  }
  .travel-red .distance, .travel-red .travel-time {
    color: red;
  }
}