.iir-print {
  padding-top: .2in;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  font-size: 130%;
  .logo img {
    height: .6in;
  }

  .maps {

    img {
      margin-bottom: .2in;
      width: 2in;
      border-radius: .25in;
    }
  }

  .header {
    text-align: right;
    margin-top: 0in;
  }

  div.section {
    margin-top: .3in
  }

  h1 {
    font-size: 140%;
    font-weight: bold;
    margin-top: .2in;
  }

  h2 {
    font-size: 130%;
    margin: 0;
    font-weight: normal;
  }

  h3 {
    font-size: 120%;
    margin-bottom: 0;
    margin-top: 1em;
    font-weight: bold;
  }

  .bold {
    font-weight: bold
  }

  .thin {
    font-weight: 300
  }
}