%h4 Shift Details:
%table.table
  %tr
    %th Date
    %td
      =resource.assignment.date.to_s :dow_short
      =resource.assignment.shift_time.name
  %tr
    %th Shift Territory
    %td=resource.assignment.shift.shift_territory.name
  %tr
    %th Shift
    %td=resource.assignment.shift.name
  %tr
    %th Person
    %td=resource.assignment.person.full_name