%h3 
  Attachments
  -if can? :create, resource.attachments.build
    %button.btn.btn-primary{data: {edit_panel: new_resource_attachment_path(resource)}} Add Attachment

- resource.attachments.reload.each do |att|
  %h5
    =att.name
    \-
    =att.humanized_attachment_type
    -if can? :update, att
      %small=link_to '(edit)', edit_resource_attachment_path(att), data: {edit_panel: edit_resource_attachment_path(att)}

  -if att.image?
    =link_to att.file.expiring_url(3600), data: {image_well: true} do
      =image_tag att.file.expiring_url(3600, :thumbnail)
  -else
    =link_to att.file.expiring_url(3600) do
      Download
      =att.file.original_filename
  =simple_format att.description
%hr

