- dat = resource.dat_incident
%h4 Response
%table.table.table-bordered.table-condensed
  %tr
    %th Team Lead
    %td
      -if resource.team_lead
        =resource.team_lead.person.try(:full_name)
  %tr
    %th Number of Responders
    %td=resource.on_scene_responders
  %tr
    %th Time to On Scene
    %td
      -if resource.time_to_on_scene
        =time_ago_in_words (Time.now-resource.time_to_on_scene), include_seconds: false
  %tr
    %th Total Responder Time
    %td
      -if resource.response_time
        =time_ago_in_words (Time.now-(resource.response_time * resource.all_responder_assignments.was_available.count)), include_seconds: false
  %tr
    %th=passthrough_edit_link 'basic', 'Type of Incident'
    %td=resource.humanized_incident_type
  %tr
    %th=passthrough_edit_link 'basic', 'Type of Call'
    %td=dat.humanized_incident_call_type
  %tr
    %th=passthrough_edit_link 'vehicles', 'Vehicles'
    %td= dat.vehicles.map(&:name).to_sentence
  -if resource.region.incidents_report_advanced_details
    %tr
      %th=passthrough_edit_link 'basic', 'Hazardous Materials'
      %td=dat.hazardous_materials
    %tr
      %th=passthrough_edit_link 'rc_care_link', 'RC Care Event Number'
      %td
        =resource.cas_event_number
        -if resource.rccare_event_id
          (#{link_to "View cases in RC Care", "https://rccare.lightning.force.com/lightning/r/ARC_Event__c/#{resource.rccare_event_id}/view", target: :_blank})
        =cas_event_button(resource)
  -if resource.region.incidents_use_escalation_levels
    %tr
      %th=passthrough_edit_link '', "Notification Level", url: new_resource_notification_path
      %td
        =resource.notification_level.try(:name)
        -if resource.notification_level_message.present?
          %br
          Message:
          =resource.notification_level_message