%h4 
  Feeding
  %small=edit_link 'feeding'
%table.table.table-bordered.table-condensed
  %tr
    %th Meal Vendor
    %td=resource.feeding_partner_use.try(:partner_name)
  %tr
    %th # Meals Served
    %td=resource.feeding_partner_use.try :meals_served