- dat = resource.dat_incident

-unless inline_editable?
  %h3 
    DAT Details
  
    -if dat && can?( :update, resource.dat_incident)
      %small
        =link_to "Edit", edit_incidents_incident_dat_path(resource)
    -elsif dat.nil? && can?( :create, Incidents::DatIncident)
      %small
        =link_to "Submit Report", edit_incidents_incident_dat_path(resource)
    -if dat
      %small
        Submitted By:
        =dat.completed_by.try(:full_name)

.row
  .span5
    %h4
      Location
      %small=edit_link 'location'
    -if resource.address
      =resource.address
      %br
      #{resource.city}, #{resource.state} #{resource.zip}
      %br
      =resource.county
      County
  .span7
    %h4 
      Narrative
      %small=edit_link 'narrative'
    = simple_format resource.narrative

-if dat
  .row
    .span5
      =render 'details_demographics'
      =render 'details_da'
      - if resource.chapter.incidents_report_advanced_details
        - if resource.incident_type == 'fire'
          =render 'details_fire'
        - if resource.incident_type == 'vacate'
          =render 'details_vacate'
    .span7
      =render 'details_response'
      =render 'details_assistance'
      -if resource.feeding_partner_use || inline_editable?
        =render 'details_feeding'
      -if inline_editable? || resource.hotel_partner_use || resource.shelter_partner_use || resource.evac_partner_use
        =render 'details_housing'
=render 'details_casework'
