- dat = resource.dat_incident
%h4 
  Vacate
  %small=edit_link 'vacate'
%table.table.table-bordered.table-condensed
  %tr
    %th Vacate Type
    %td=dat.humanized_vacate_type
  %tr
    %th Vacate Order Number
    %td=dat.vacate_number
