- dat = resource.dat_incident
%h4 
  Damage Assessment
  %small=edit_link 'damage_assessment'
%table.table.table-bordered.table-condensed
  %tr
    %th Structure Type
    %td=dat.humanized_structure_type
  %tr
    %th Total Units
    %td=dat.units_total
  - if resource.region.incidents_report_advanced_details
    %tr
      %th Undefined Units
      %td=dat.units_unknown
  %tr
    %td.table-nested-container(colspan="2")
      %table.table.table-bordered.table-condensed.table-nested
        %tr
          %th(style="width: 16.6%") Not Livable
          %th(style="width: 16.6%") Livable
          %th(style="width: 16.6%") Affected
          %th(style="width: 16.6%") Minor
          %th(style="width: 16.6%") Major
          %th(style="width: 16.6%") Destroyed
        %tr
          %td=dat.units_not_livable
          %td=dat.units_livable
          %td=dat.units_affected
          %td=dat.units_minor
          %td=dat.units_major
          %td=dat.units_destroyed