%h3 
  Responders
  -if inline_editable?
    =link_to 'Launch Dispatch Console', incidents_incident_responders_path(resource)
%table.table
  %tr
    %th Name
    %th Role
  - resource.all_responder_assignments.each do |assignment|
    %tr
      %td=assignment.person.full_name
      %td=assignment.role.titleize