- dat = resource.dat_incident

.row
  .col-sm-6
    %h4 At a glance:
    %table.table.table-bordered.table-condensed
      %tr
        %th Units Involved
        -if dat
          %td=dat.units_total
      %tr
        %th Num. Adults
        %td=resource.num_adults
      %tr
        %th Num. Children
        %td=resource.num_children
      %tr
        %th Num. Families
        %td=resource.num_families
      %tr
        %th Cases Opened On Scene
        %td=resource.num_cases
    %p.lead=resource.narrative_brief
  .col-sm-6
    .map-container{style: "border-radius: 10px; overflow: hidden"}
      .incident-map{style: "height: 300px"}