
%h3 
  Timeline
  -if can? :create, resource.event_logs.build
    %button.btn.btn-primary{data: {edit_panel: new_incidents_incident_event_log_path(resource)}} Add Log

- resource.event_logs(true).each do |evt|
  %h5
    =evt.event_time.to_s :time
    \-
    =evt.humanized_event
    %small
      -if evt.person
        =evt.person.full_name
      =evt.event_time.to_s :date_time
    -if can? :update, evt
      %small=link_to '(edit)', edit_incidents_incident_event_log_path(resource, evt), data: {edit_panel: edit_incidents_incident_event_log_path(resource, evt)}
  -if evt.source
    Source: #{evt.source.name}
    %br
  -if evt.event =~ /dispatch_/
    %pre=evt.message
  -else
    =simple_format evt.message
%hr

