- logs = resource.event_logs.to_a
-#- missing_timeline_entries.each do |event|
-#  - logs << resource.event_logs.build event: event
%h3 
  Timeline
  -if can?(:create, resource.event_logs.build) && resource.open_incident?
    %button.btn.btn-primary{data: {edit_panel: new_resource_event_log_path}} Add Log



- logs.each do |evt|
  %h5
    =evt.event_time.to_s :time
    \-
    =evt.humanized_event
    %small
      -if evt.person
        =evt.person.full_name
      =evt.event_time.to_s :date_time
    -if can? :update, evt
      %small=link_to '(edit)', edit_resource_event_log_path(evt), data: {edit_panel: edit_resource_event_log_path(evt)}
  -if evt.source
    Source: #{evt.source.name}
    %br
  -if evt.event =~ /dispatch_/
    %pre=evt.message
  -else
    =simple_format evt.message

-if inline_editable?
  - missing_timeline_entries.reverse.each do |event|
    - log = resource.event_logs.build event: event
    %h5.text-danger
      =log.humanized_event
      \-
      Not Entered Yet
    =link_to "Log This Event", new_resource_event_log_path(incidents_event_log: {event: event}), data: {edit_panel: resource_event_logs_path(incidents_event_log: {event: event})}