
%h3 
  Timeline
  %button.btn.btn-primary{data: {edit_panel: new_incidents_incident_event_log_path(resource)}} Add Log

- resource.event_logs.each do |evt|
  %h5
    =evt.event_time.to_s :time
    \-
    =evt.humanized_event
    -if evt.event == 'note'
      %small
        =evt.person.full_name
        =evt.event_time.to_s :date_time
    -else
      %small
        =evt.event_time.to_s :date_time
    -if can? :update, evt
      %small=link_to '(edit)', new_incidents_incident_event_log_path(resource, evt), data: {edit_panel: edit_incidents_incident_event_log_path(resource, evt)}
  -if evt.event =~ /dispatch_/
    %pre=evt.message
  -else
    =simple_format evt.message
%hr

