%h1 Incidents Needing Incident Report

%table.table
  %thead
    %tr
      %th Incident Number
      %th Address
      %th Area
      %th Date
      %th Age
      %th Actions
  %tbody
    -needs_report_collection.each do |inc|
      - inc = Incidents::IncidentPresenter.new inc
      %tr
        %td=inc.incident_number
        %td=inc.address
        %td=inc.area.try(:display_name) || inc.county
        %td=inc.date.to_s :dow_short
        %td=time_ago_in_words inc.created_at
        %td
          -if can? :update, inc
            %a.btn.btn-primary{href: inc.submit_path} Submit Incident Information
          -if can? :mark_invalid, inc
            %a.btn.btn-danger{href: inc.invalid_path} No Response / Mark Invalid

-unless current_chapter.incidents_report_editable
  %h3 Don't see your incident?
  The dispatch call center must assign an incident number in order to submit a report.  If you do not have an incident number, call dispatch and request one.  Then refresh the page and you should see your incident listed.

-if can? :create, Incidents::Incident
  %h3 Create New Incident
  %a.btn.btn-warning{href: new_resource_path} Create New Incident
