%h1 
  Currently Open Incidents

.needs_report_table
  =render "needs_report_table"

-unless current_region.incidents_report_editable
  %h3 Don't see your incident?
  The dispatch call center must assign an incident number in order to submit a report.  If you do not have an incident number, call dispatch and request one.  Then refresh the page and you should see your incident listed.