.row
  .span12
    %h1 Submit New Incident
.alert.alert-warning
  %button.close(data-dismiss="alert") &times;
  Only use this form if there is an issue with syncing incidents from dispatch or you can't get an incident number.
.row
  .span12
    =semantic_form_for resource, builder: FormtasticBootstrap::FormBuilder, html: {class: "form-horizontal"} do |f|
      =f.inputs "Data" do
        =f.input :status, as: :hidden, input_html: {value: 'open'}
        =f.input :area, collection: current_chapter.counties
        - unless current_chapter.incidents_sequence_enabled
          =f.input :incident_number
        =f.input :date
      =f.actions