.row
  .col-sm-12
    %h1 Create New Incident
.row
  .col-sm-12
    =semantic_form_for resource, url: resource_path(resource.to_param || ""), builder: FormtasticBootstrap::FormBuilder, html: {class: "form-horizontal"} do |f|
      =f.semantic_errors *f.object.errors.keys
      =render partial: 'incidents/dat_incidents/location_fields', locals: {f: f}
      .response-territory-info=render 'response_territory', f: f
      =f.inputs "Data" do
        - unless has_incident_number_sequence?
          =f.input :incident_number        
        =f.input :date
        =f.input :incident_type, as: :assignable_select, include_blank: false, required: true, humanized: :humanized_valid_incident_types
        =f.input :narrative, label: "Initial Description", input_html: {rows: "3"}, hint: 'This message will be included in the initial incident notification.'
      
      =f.action :submit, button_html: {class: "btn btn-primary"}
- content_for :footer_js do
  :javascript
    $(function() {
      window.responseTerritoryController = new IncidentResponseTerritoryController(#{raw new_resource_path(partial: 'response_territory').to_json});
      window.incidentLocationController.locationCallback = function() { responseTerritoryController.updateResponseTerritory(false); }
    });