.modal.hide.fade#narrative-modal
  .modal-header 
    %button.close(data-dismiss="modal") &times;
    %h3 Case Narrative
  .modal-body
  .modal-footer
    %a.btn.btn-primary(data-dismiss="modal") Close

=form_tag '', method: :get, class: 'form-inline' do
  =label_tag :county_id_eq, 'In County'
  =select_tag :county_id_eq, "<option></option>".html_safe+options_from_collection_for_select(current_chapter.counties, :id, :name, params[:county_id_eq])
  =submit_tag 'Search', class: 'btn'

%table.table.table-condensed
  %thead
    
  %tbody
    - tracker_collection.each do |inc|
      %tr
        %th Incident Number
        %th Incident Name
        %th Address
        %th Date
        %th Cases Open
        %th Cases Closed
        %th Last Update
        %th Actions
      %tr
        %td=inc.cas_incident_number
        %td=inc.cas_incident.cas_name
        %td=inc.address
        %td=inc.date
        %td=inc.cas_incident.cases_open
        %td=inc.cas_incident.cases_closed
        %td
          %a.btn{href: incidents_incident_path(inc)} Show Incident
          %a.btn(data-toggle="collapse" data-target="##{inc.id}-cases") Show Cases
      %tr
        %td(colspan=8)
          .collapse{id: "#{inc.id}-cases"}
            %table.table
              %thead
                %tr
                  %th Case Number
                  %th Address
                  %th Name
                  %th Immediate Plans
                  %th Notes
                  %th Status
                  %th Last Updated
              %tbody
                - inc.cas_incident.cases.each do |kase|
                  %tr
                    %td=kase.case_number
                    %td=kase.address
                    %td=kase.family_name
                    %td=kase.post_incident_plans
                    %td=kase.notes
                    %td=kase.case_is_open ? 'Open' : 'Closed'
                    %td=kase.case_last_updated
                    %td
                      -if can? :narrative, kase
                        %a.btn.narrative-button(data-url="#{narrative_incidents_cas_incident_case_path(inc.cas_incident, kase)}") Show Narrative

- content_for :footer_js do
  :javascript
    window.trackerController = new IncidentsTrackerController()

