// Place all the styles related to the Scheduler::Calendar controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body.calendar {
  -webkit-print-color-adjust:exact;
  width: 100%;

  table.calendar {
    &.loading {
      opacity: 0.5;
      
    }
    width: 100%;
    td.day, td.week, td.month[colspan="1"] {
      font-size: 7pt;
      line-height: 1.2;
      border: 1px solid black;
      vertical-align: top;
    }
    td.day {
      height: 6em;
      width: 14.2%;
    }
    td.week {
      
    }
    td label {
      font-size: inherit;
      display: inline;
      margin: 0;
      line-height: inherit;
    }
  }

  .highlight-open-shifts {
    td.open, div.open {
      background-color: red;
    }
  }
  .highlight-my-shifts {
    .my-shift td, div.my-shift {
      background-color: yellow;
    }
  }

  @mixin rotate($rot) {
    -webkit-transform: rotate($rot);
    -o-transform: rotate($rot);
    -moz-transform: rotate($rot);
    transform: rotate($rot);
  }

  .shifts {
    width: 100%;

    th.shift-header {
      max-width: 1em;
      @include rotate(90deg);
      padding: 0;
      font-weight: normal;
    }
    th.date-header {
      max-width: 1em;
      padding: 0;
    }
    tr.end-group {
      td,th {
        border-bottom: 1px dashed black;
      }
    }
    tr:nth-child(2) th.shift-header {
      border-bottom: 1px dashed black;
    }
    td {
      font-size: 100%;
      line-height: 1.2;
    }
  }

  .calendar-spreadsheet {

    .page {
      page-break-inside: avoid;
      page-break-after: always;

      &:last-child {
        page-break-after: avoid;
      }
    }

    table {
      width: 100%;
      height: 100%;
    }

    td {
      font-size: 8pt;
      line-height: 1.2;
      border: 1px solid black;
      vertical-align: top;
      //height: 2.4em;
      padding: 2px;
    }
  }

  .calendar-grid {
    td,th {
      font-size: 8pt;
      atext-align: center;
      line-height: 1;
      //
    }
    th, td.period {
      text-align: center;
    }
    td.header {
      white-space: nowrap;
      border-top: 1px solid rgb(221,221,221);
    }
    .no-shift {
      background-color: black !important; //rgb(180,180,180);
      //box-shadow: inset 0 0 0 1000px rgb(180,180,180);
      //
      background-image: -webkit-linear-gradient(top left, #000 0%, #000 100%);;
    }
    .flex-shift {
      background-color: rgba(0, 0, 0, 0.5) !important;
    }
    .period {
      width: .2in;
      font-size: 6pt;
      line-height: .9;
      border-top: 1px solid rgb(221,221,221);
      //border-bottom: 1px solid rgb(221,221,221);
    }
  }
  
}

thead {
  display: table-header-group;
}

tfoot {
  display: table-footer-group;
}

body.steven {

  background-color: pink;

  .polkadot {
    background-color: yellow;
    width: 100px; height: 100px;
    border-radius: 50px;
    position: fixed;
    z-index: -1;
  }

  .p1 {
    top: 100px;
    left: 200px;
  }

  .p2 {
    top: 200px;
    right: 300px;
  }

  .p3 {
    top: 400px;
    left: 500px;
  }

  .p4 {
    top: 500px;
    left: 100px;
  }

  .p5 {
    top:600px;
    right: 100px;
  }

  .highlight-my-shifts {
    .my-shift td, div.my-shift {
      background-color: rgb(50, 255, 50);
    }
  }
}

@media print {
  input[type=checkbox] {
    display: none;
  }
  .calendar-config, .open-shifts-container, .navbar {
    display: none;
  }
  .span12 {
    margin: 0;
    width: 100%;
  }
  .container {
    width: 100% !important;
  }
  .row {
    margin: 0;
  }
  table {
    width: 100%;
  }

  table.calendar td {
    font-size: 6pt !important;
    line-height: 1.0 !important;
  }

  .pageno:before {
    content: counter(page);
  }
  .pagect:before {
    content: counter(pages);
  }
  table {
    -fs-table-paginate: paginate;
  }
}

@page {
  size: 11in 8.5in;
  counter-increment: page;
  margin: .25in;

}


  