// Place all the styles related to the Scheduler::FlexSchedules controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$border-color: rgb(221, 221, 221);

body.scheduler.flex_schedules {
  .filter-table td {
    padding: 5px;
  }
  small {
    xfont-size: 75%;
  }
}

.flex-table {
  font-size: 90%;
  .positions {
    line-height: 1;
    br {
      line-height: 0;
    }
  }

  ul {
    margin: 0;
  }
  li {
    display: block;
    line-height: 1;
  }
  th.day-label {
    text-align: center;
    border-left: 1px solid $border-color;
    border-right: 1px solid $border-color;
    afont-size: 85%;
  }
  td {
    padding: 2px;
    line-height: 1;
  }
  .day,.night {
    width: 10px;
    text-align: center;
    afont-size: 85%;
    apadding: 0
  }
  .day {
    border-left: 1px solid $border-color;
  }
  .night {
    border-right: 1px solid $border-color;
  }
  tr {
    border-bottom: 1px solid $border-color;
  }
}