%p
  Hello,
%p
  An incident number was created for your county at least 12 hours ago, but no incident details report has been received.  This is an automated reminder, so if it is in error, please disregard, otherwise see below for details and a link to submit the report.
%p
  Incident Number: #{@incident.incident_number}
  %br
  County: #{@incident.county_name}
  %br
  Date and Time Created: #{@incident.created_at.to_s}
  %br
  Person Contacted by Dispatch: #{@incident.dispatch_log.delivered_to}
%p
  You can use this link to submit the incident report:
  =link_to new_incidents_incident_dat_url(@incident), new_incidents_incident_dat_url(@incident)