:plain
  The Weekly Disaster Operations Report is only viewable in a client that supports graphical email.  To see recent disaster operations in your web browser, go to #{incidents_root_url} .

  --

  This message is automatically sent by the ARCBADAT system.  Manage or unsubscribe at this url: #{incidents_notification_subscription_weekly_url(@person)}