.modal.hide.fade#narrative-modal
  .modal-header 
    %button.close(data-dismiss="modal") &times;
    %h3 Case Narrative
  .modal-body
  .modal-footer
    %a.btn.btn-primary(data-dismiss="modal") Close

.well
  =form_for search, url: '', method: :get, class: 'form form-inline' do |f|
    =f.label :incident_area_id_eq, 'In County', style: 'display: inline'
    =f.select :incident_area_id_eq, "<option></option>".html_safe+options_from_collection_for_select(current_chapter.counties, :id, :name, params[:area_id_eq]), class: 'span2'
    =f.label :cas_incident_number_eq, 'CAS Incident Number', style: 'display: inline'
    =f.text_field :cas_incident_number_eq, class: 'span2'
    =f.label :cases_case_number_eq, 'CAS Case Number', style: 'display: inline'
    =f.text_field :cases_case_number_eq, class: 'span2'
    =f.submit 'Search', class: 'btn'

%table.table.table-condensed
  %thead
    
  %tbody
    - collection.sort_by{|cas| cas.cases.map(&:case_last_updated).max }.reverse.each do |cas|
      %tr
        %th Incident Number
        %th Incident Name
        %th Date
        %th Cases Open
        %th Cases Closed
        %th Actions
      %tr
        %td
          =cas.cas_incident_number
          %br
          =cas.incident.try :incident_number
        %td
          =cas.cas_name
          %br
          =cas.incident.try :address
          (#{cas.incident.try(:county) || cas.county_name})
        %td=cas.incident.try :date
        %td=cas.cases_open
        %td=cas.cases_closed
        %td(style="white-space: nowrap")
          -if cas.incident
            %a.btn.btn-mini{href: incidents_incident_path(cas.incident)} Show Incident
          %a.btn.btn-mini(data-toggle="collapse" data-target="##{cas.id}-cases") Show Cases
      %tr
        %td(colspan=8)
          .collapse{id: "#{cas.id}-cases"}
            %table.table
              %thead
                %tr
                  %th Case Number
                  %th Address
                  %th Name
                  %th Immediate Plans
                  %th Notes
                  %th Status
                  %th Last Updated
              %tbody
                - cas.cases.each do |kase|
                  %tr
                    %td=kase.case_number
                    %td=kase.address
                    %td=kase.family_name
                    %td=kase.post_incident_plans
                    %td=kase.notes
                    %td=kase.case_is_open ? 'Open' : 'Closed'
                    %td=kase.case_last_updated
                    %td
                      -if can? :narrative, kase
                        %a.btn.narrative-button(data-url="#{narrative_incidents_cas_incident_case_path(cas, kase)}") Show Narrative

- content_for :footer_js do
  :javascript
    window.trackerController = new IncidentsTrackerController()

