%h1 Operations Report

%p You are not currently subscribed to the disaster operations report.

%p
  = form_tag url_for(action: :create), method: :post do
    =submit_tag 'Subscribe', class: 'btn btn-primary'