.modal-dialog
  .modal-content
    .modal-header 
      %a.close(data-dismiss="modal") &times;
      %h4.modal-title Already Approved
    .modal-body
      The IIR is already approved.  It must be unapproved before you can edit it.
    .modal-footer
      %a.btn.btn-default(data-dismiss="modal") Done
