.modal-dialog
  .modal-content
    .modal-header 
      %a.close(data-dismiss="modal") &times;
      %h4.modal-title Approve Initial Incident Report
    .modal-body
      Are you sure you want to approve and distribute this initial incident report?
    .modal-footer
      %a.btn.btn-default.pull-left(data-dismiss="modal") Cancel
      =edit_panel_link_to 'Approve', url_for(action: :approve), method: 'post', class: 'btn btn-success', remote: true