.modal-dialog
  .modal-content
    .modal-header 
      %a.close(data-dismiss="modal") &times;
      %h4.modal-title Initial Incident Report Approved
    .modal-body
      The IIR is being prepared and distributed.  You will receive a copy via email to confirm the distribution is complete.
    .modal-footer
      %a.btn.btn-default(data-dismiss="modal") Done
