%h2.center Incident Statistics
%table#incident-statistics
  %tr
    %td(style="text-align: right")
      %strong Responders
      %br
      Responders Active: #{responders_summary_count}
      %br
      Responder Travel: #{number_with_delimiter responders_distance} miles
    %td
      %strong Resources For Clients
      %br
      - incident_statistics.each do |stat, val|
        #{stat.titleize}: #{val}
        %br
      -if scope.region && scope.region.incidents_report_include_assistance_amounts
        Total Assistance:
        =number_to_currency total_assistance_amount
