:plain
  The Weekly Disaster Operations Report is only viewable in a client that supports graphical email.  To see recent disaster operations in your web browser, go to #{incidents_region_root_url(scope)} .

  --

  This message is automatically sent by the DCSOps system.  Manage or unsubscribe at this url: #{incidents_scope_report_subscription_url(scope, @person)}