-if incoming_messages(incident).present?
  %h4 Incoming SMS Messages
  %table.table.table-bordered.table-condensed
    %tr
      %th From
      %th When
      %th Message
      %th
    - incoming_messages(incident).each do |msg|
      %tr
        %td
          =msg.person.full_name
        %td
          %abbr.timeago{title: msg.created_at.iso8601}
            =time_ago_in_words msg.created_at
            ago
        %td
          .incoming-message-preview=msg.message
        %td=link_to 'View', '#', class: 'btn btn-mini', data: {edit_panel: incidents_chapter_incident_responder_message_path(incident.chapter, incident, msg)}
  :javascript
    $(function() {
      $('.timeago').timeago();
    });