%h3 Swap Shift

%h4 Shift Details:
%table.table
  %tr
    %th Date
    %td
      =resource.date.to_s :dow_short
      =resource.shift.shift_group.name
  %tr
    %th County
    %td=resource.shift.county.name
  %tr
    %th Shift
    %td=resource.shift.name

-if !resource.available_for_swap
  %h4 Swap To:
  If you know who may want to take your shift, type their name here.  They will receive an email asking to confirm the swap.  Otherwise, leave it blank.  Either way, it is still your responsibility to have someone log in and claim the shift.
  =form_tag '', method: 'post' do
    =text_field_tag :person, "", id: "select-person", style: "width: 200px", autocomplete: 'off'
    =hidden_field_tag :swap_to_id, "", id: "swap-to-id"
    =hidden_field_tag :is_swap, "1"
    %h4 Save
    =submit_tag "Start Swap", class: "btn btn-danger"
-else
  -if can_swap_to_others? or current_user != resource.person
    %h4 Shift Swap
    This shift is available to be swapped.  To accept the swap, click the
    %i accept swap
    button below.

    =form_tag '', method: 'post' do
    
      -if can_swap_to_others?
        Person to swap to:
        =text_field_tag :person, current_user.full_name, id: "select-person", style: "width: 200px", autocomplete: 'off'
        =hidden_field_tag :swap_to_id, current_user.id, id: "swap-to-id"

      =hidden_field_tag :accept_swap, "1"
      %br
      =submit_tag "Confirm Swap", class: "btn btn-danger"

  %h4 Cancel Swap
  If you no longer wish to swap this shift:
  =form_tag '', method: 'post' do
    =hidden_field_tag :cancel_swap, "1"
    %br
    =submit_tag "Cancel Swap", class: "btn"

- content_for :footer_js do
  :javascript
    window.swapController = new window.SwapController(#{resource.shift.county_id.to_json}, #{resource.shift.position_ids.to_json})