%h1 Shifts

- by_county_group_shift.each do |county, shifts|
  =form_tag '', method: :put do
    %h3=county.name
    %table.table-condensed.table-bordered.table-striped
      %thead
        %tr
          %th{colspan:3}
          %th{colspan:2} Open Shifts
          %th{colspan:2} Signups Available
        %tr
          %th Period
          %th Name
          %th Abbrev
          - dates_for_count.each do |date|
            %th=date.strftime "%b"
          %th From
          %th To
          %th Max Advance Signup 
      -avail_data = dates_for_count.map{|d| Scheduler::Shift.count_shifts_available_by_shift(shifts, d)}
      - shifts.each_with_index do |shift, shift_idx|
        = fields_for "shifts[#{shift.id}]", shift do |f|
          %tr
            %th=safe_join shift.shift_groups.map(&:name), tag(:br)
            %th=shift.name
            %td=shift.abbrev
            - dates_for_count.each_with_index do |date, idx|
              %td=avail_data[idx][shift]
            %td
              .input-group
                =f.date_field :signups_frozen_before, 'data-provide' => 'datepicker', 'data-date-format' => 'yyyy-mm-dd', class: "frozen form-control"
                .input-group-btn
                  %a.btn.clearbtn.btn-default Clear
            %td
              .input-group
                =f.date_field :signups_available_before, 'data-provide' => 'datepicker', 'data-date-format' => 'yyyy-mm-dd', class: "available form-control"
                .input-group-btn
                  %button.btn.clearbtn.btn-default Clear
            %td
              .input-group
                =f.text_field :max_advance_signup, type: :number, class: 'max-signup form-control'
                %span.input-group-addon days
      %tfoot
        %tr.all-shifts
          = fields_for "county_shifts[#{county.id}]" do |f|
            %th{colspan: 5}
              All Shifts
              %button.btn.btn-mini.btn-default Cancel
              %button.btn.btn-mini.btn-warning Save
            %td
              .input-group
                =f.text_field :signups_frozen_before, 'data-provide' => 'datepicker', 'data-date-format' => 'yyyy-mm-dd', "data-all-class" => 'frozen', class: ' form-control'
                .input-group-btn
                  %a.btn.btn-default.clearallbtn{"data-all-class" => 'frozen'} Clear
            %td
              .input-group
                =f.text_field :signups_available_before, 'data-provide' => 'datepicker', 'data-date-format' => 'yyyy-mm-dd', "data-all-class" => 'available', class: " form-control"
                .input-group-btn
                  %a.btn.btn-default.clearallbtn{"data-all-class" => 'available'} Clear
            %td
              .input-group
                =f.text_field :max_advance_signup, type: :number, "data-all-class" => 'max-signup', class: " form-control"
                %span.input-group-addon days

- content_for :footer_js do
  :javascript
    window.shiftsController = new window.ShiftsController()