- model_class = Roster::Person
.page-header
  %h1
    =t '.title', :default => model_class.model_name.human.pluralize
    %span(style="font-size:60%") (#{link_to 'Download as CSV', scheduler_people_path(format: :csv, params: request.query_parameters.merge(page: 'all'))})
=form_tag scheduler_people_path, method: :get, remote: true do
  =hidden_field_tag 'page', ''
  %table.table.table-condensed.noprint
    %tr
      %th Shift Territory
      %td=select_tag "shift_territory", options_from_collection_for_select(current_region.shift_territories.enabled, :id, :name, current_scopes[:shift_territory]), multiple: false, id: 'choose-shift_territory', prompt: "All", class: "form-control"
    %tr
      %th Position
      %td
        %table(style="width: 100%")
          - current_region.positions.visible.each_slice(2) do |first, second|
            %tr
              %td
                %label
                  - checked = current_scopes[:with_position] && current_scopes[:with_position].include?(first.id.to_s)
                  =check_box_tag "with_position[]", first.id, checked
                  = first.name
              %td
                - if second
                  %label
                    - checked = current_scopes[:with_position] && current_scopes[:with_position].include?(second.id.to_s)
                    =check_box_tag "with_position[]", second.id, checked
                    = second.name
    %tr
      %th Last Shift Taken
      %td=select_tag "last_shift", options_for_select(date_ranges, current_scopes[:last_shift].try(:to_i)), prompt: "Any Time", class: "form-control"
    %tr
      %th Name
      %td=text_field_tag :name_contains, current_scopes[:name_contains], placeholder: "Search Name", class: "form-control"
    %tr
      %th
      %td=submit_tag 'Show', class: 'btn btn-primary'

.people-table
  =render 'index_table'