%table.table.table-bordered.table-condensed
  %tr
    %th Incident
    %th Actions
    %th Region
    %th Address
    %th Status
  - collection.each do |resource|
    - presenter = Incidents::IncidentPresenter.new resource
    %tbody.incident-group{data: {incident: resource.id}}
      %tr.summary-row
        %td
          =link_to resource.incident_number, presenter.path
        %td
          %strong
            =edit_panel_link_to 'Dispatch', resource_path(resource)
        %td=resource.region.name
        %td=presenter.full_address
        %td
          -if person = resource.current_dispatch_contact
            Next Contact:
            =person.full_name
