.row
  .col-sm-12
    %h1 Dispatch New Incident
    %p
      %em 
        Dispatchers:  Read the text in
        %strong bold
        word-for-word to the caller, and enter their responses in each box.
        Text like this in italics is information or clarification for you.
    -if resource.call_type == 'incident'
      %p
        %strong
          Thank you.  We have assigned number #{resource.incident.incident_number} to your call.  If you need to follow up, please use this number.
      %p
        %strong
          Please immediately alert the Region to this incident so they can initiate the response. Return to the Dispatch Console using the button below and locate your incident at the top of the list. Click “Show” to see the phone number for the on-call person in that Chapter and call them with the incident details immediately. Continue calling through the list until you speak to a member of the Regional team.
    =link_to "Back to Dispatch Console", incidents_region_dispatch_index_path(parent), class: "btn btn-primary"