%h4 
  Responders
  -if enable_messaging && can?(:create, Incidents::ResponderMessage)
    =link_to 'Message All', '#', class: 'btn btn-default', data: {edit_panel: new_incidents_region_incident_responder_message_path(parent.region, parent)}
%table.table.table-bordered.table-condensed
  %tr
    %th Name
    %th Role
    %th Contact
    %th Status
    %th
  - collection.select(&:was_available).each do |assignment|
    - has_sms = assignment.person.sms_addresses.present?
    %tr
      %td=assignment.person.full_name
      %td=assignment.humanized_role
      %td
        =assignment.person.primary_phone
        -if has_sms
          %span.label.label-success SMS
      %td=assignment_status(assignment)
      %td
        -if can? :update, assignment
          .btn-group
            =link_to '#', class: "btn btn-default btn-sm dropdown-toggle", data: {toggle: 'dropdown'} do
              Actions
              %span.caret
            %ul.dropdown-menu{role: "menu", aria_labelledby: "dropdownMenu"}
              %li.disabled=link_to assignment.person.full_name, '#'
              %li=link_to 'Edit…', edit_resource_path(assignment), tabindex: "-1"
              %li=next_status_link assignment
              -if enable_messaging && has_sms
                %li=link_to 'Send Message', '#', data: {edit_panel: new_incidents_region_incident_responder_message_path(parent.region, parent, recipient: assignment.person_id)}
