%table.table.table-bordered.table-condensed
  %thead
    %tr 
      %th Type
      %th Qualifications
      %th Name
      %th City
      %th Distance
      %th 
        Travel Time
        =image_tag 'glyphicons_028_cars.png', style: 'height: 1em; margin-bottom: 3px; display: none', class: 'traffic-icon' 
      %th Recruit
      %th Assign
  -if service.have_dispatch?
    %tbody
      %tr
        %th(colspan=8)
          Dispatch
          -if dispatched
            %a{data: {toggle: 'collapse', target: 'tbody.dispatch-list'}} show dispatch list
    %tbody.dispatch-list{class: dispatched && "collapse"}
      - service.dispatch_shifts.each do |assignment|
        =render partial: 'person_row', locals: {person: assignment.person, obj: assignment}
      - service.dispatch_backup.each do |person|
        =render partial: 'person_row', locals: {person: person, obj: "Backup"}
  %tbody
    %tr
      %th(colspan=8) Scheduled
  %tbody.responders-list.sort
    - service.scheduled_responders.each do |schedule|
      =render partial: 'person_row', locals: {person: schedule.person, obj: schedule}
  %tbody
    %tr
      %th(colspan=8) Flex
  %tbody.responders-list.sort
    - service.flex_responders.each do |flex|
      =render partial: 'person_row', locals: {person: flex.person, obj: flex}
  %tbody
    %tr
      %th(colspan=8) Decline
  %tbody.responders-list.not-available.sort
    - collection.reject(&:was_available).each do |ass|
      =render partial: 'person_row', locals: {person: ass.person, obj: ass}

:javascript
  if (window.respondersController) {
    window.respondersController.loadTravelTimes()
  }