.row
  .col-sm-6.offset3
    =form_for resource, url: roster_session_path, html: {class: 'login-form'} do |f|
      %h3 
        %i.fa.fa-lock
        Please Sign In
      %p
        -#DCSOps uses the same username and password you use to log into Volunteer Connection.

      = f.text_field :username, class: 'text_field span5', placeholder: 'Username'
      = f.password_field :password, class: 'text_field span5', placeholder: 'Password'
      /.control-group
      /  = f.label :remember_me, :class => 'control-label'
      /  .controls
      /    = f.check_box :remember_me, :class => 'text_field'
      .submit
        = f.submit 'Sign In', :class => 'btn btn-primary btn-large btn-block'
      /.lost-password
      /  %h6 I don't remember my password.
      %p
      %p
        If you have forgotten your password, or need to reset or change it, please
        -#%a{href: "https://volunteerconnection.redcross.org/?nd=resetpassword"} follow this process on the Volunteer Connection site, and return to DCSOps when complete.
        contact your DAT Administrator or Supervisor.