.row
  .col-sm-6.col-sm-offset-3
    %h3 
      %i.fa.fa-lock
      Sign in to DCSOps
    %p
      DCSOps now uses single sign on integrated with Volunteer Connection and other Red Cross applications.  
    %p
      =link_to "Log in with Red Cross Single Sign On", '/auth/rco', class: 'btn btn-lg btn-primary'
      