- groups ||= nil
- current_shifts_tree(counties, groups).each do |county, shifts|
  - next if shifts.blank?
  -if counties.length > 1
    %strong=county.name
    %br
  - shifts.each do |shift, assignments|
    .shift
      %small
        = shift.name
        -if assignments.blank?
          ==- OPEN
        -else
          -assignments.each do |ass|
            ==-
            = ass.person.full_name
            ="(#{ass.person.primary_phone})"