- groups ||= nil
- current_shifts_tree(shift_territories, groups).each do |shift_territory, shifts|
  - next if shifts.blank?
  -if shift_territories.length > 1
    %strong=shift_territory.name
    %br
  - shifts.each do |shift, assignments|
    .shift
      %small
        = shift.name
        -if assignments.blank?
          ==- OPEN
        -else
          -assignments.each do |ass|
            ==-
            = ass.person.full_name
            ="(#{ass.person.primary_phone})"