- groups = Scheduler::ShiftGroup.current_groups_for_chapter(current_person.chapter)
- groups.select{|g| g.period == 'daily' }.each do |grp| 
  %h2
    On Call Schedule - 
    =grp.start_date.to_s(:dow_long) + " - " + grp.name
=render partial: 'current_shifts', locals: {counties: current_chapter.counties.to_a, groups: groups}