%h1 
  %i.icon-exclamation-sign.text-error
  Inactive User

%p.text-error
  The Volunteer Connection account associated with this login is not currently active.  
  If you believe this is in error, please contact Volunteer Services or your supervisor.