.row
  .col-sm-offset-3.col-sm-6
    .center
      %h3
        DCS
        %b.dat> Ops
      Choose an application:
    .row
      .app
        %a{href: roster_person_path(current_user)}
          %i.fa.fa-info-circle.fa-2x
          %h4 My Contact Info
    .row
      .app
        %a{href: scheduler_root_path}
          %i.fa.fa-calendar.fa-2x
          %h4 DAT Scheduling
    .row
      .app
        %a{href: incidents_root_path}
          %i.fa.fa-fire.fa-2x
          %h4 Incidents
    - homepage_links.each do |group, links|
      .row
        %h4.center=group
      - links.each do |link|
        .row
          .app
            =link_to link.link do
              -if link.icon.present?
                %i.fa-2x{class: "fa fa-#{link.icon}"}
              %h4=link.name
