.row
  .offset3.span6
    .center
      %h3=branding('dat')
      Choose an application:
    .row
      .app
        %a{href: roster_person_path(current_user)}
          %i.icon-info-sign.icon-2x
          %h4 My Contact Info
    .row
      .app
        %a{href: scheduler_root_path}
          %i.icon-calendar.icon-2x
          %h4 DAT Scheduling
    .row
      .app
        %a{href: incidents_root_path}
          %i.icon-fire.icon-2x
          %h4 Incidents
    - homepage_links.each do |group, links|
      .row
        %h4.center=group
      - links.each do |link|
        .row
          .app
            =link_to link.link do
              -if link.icon.present?
                %i.icon-2x{class: "icon-#{link.icon}"}
              %h4=link.name
