.row
  .offset3.span6
    .center
      %h3 Welcome to ARCBA DAT
      Choose an application:
    .row
      .app
        %a{href: roster_person_path(current_user)}
          %i.icon-info-sign.icon-2x
          %h4 My Contact Info
    .row
      .app
        %a{href: scheduler_root_path}
          %i.icon-calendar.icon-2x
          %h4 DAT Scheduling
    .row
      %h5.center Other Tools
    .row
      .app
        %a{href: "https://volunteerconnection.redcross.org/"}
          %i.icon-home.icon-2x
          %h4 Volunteer Connection
    -#.row
    -#  .app
    -#    %a{href: "https://watchfire.instedd.org/"}
    -#      %i.icon-bullhorn.icon-2x
    -#      %h4 Watchfire
    -#.row
    -#  .app
    -#    %a{href: "#"}
    -#      %i.icon-map-marker.icon-2x
    -#      %h4 SitCell
    -#.row
    -#  .app
    -#    %a{href: "#"}
    -#      %i.icon-desktop.icon-2x
    -#      %h4 iDAT
    .row
      .app
        %a{href: "#"}
          %i.icon-fire.icon-2x
          %h4 Incidents
    -#.row
    -#  .app
    -#    %a{href: "#"}
    -#      %i.icon-truck.icon-2x
    -#      %h4 Logistics
    -#.row
    -#  .app
    -#    %a{href: "#"}
    -#      %i.icon-dashboard.icon-2x
    -#      %h4 Analytics
    -#.row
    -#  .app
    -#    %a{href: "#"}
    -#      %i.icon-cog.icon-2x
    -#      %h4 Administration
        