.row
  .col-sm-12
    %h1 
      Flex Schedule
      -if resource.person != current_user
        ==-
        = resource.person.full_name

.row
  .col-sm-12
    %table.table.table-condensed
      %tr
        %th
        - days_of_week.each do |dow|
          %th=dow.titleize
      - shift_times.each do |time|
        %tr
          %th
            =time.titleize
            =flex_time_range(time)
          - days_of_week.each do |dow|
            %th
              =editable_select resource, "available_#{dow}_#{time}", [{value: 0, text: "No"},{value: 1, text: "Yes"}], is_boolean: true