@media print {
  a[href]:after {
  content: "" !important
  }

  .noprint {
    display: none !important;
  }
}

@media screen {
  .noscreen {
    display: none !important;
  }
}

a i {
  text-decoration: none !important;
}

.center {
  text-align: center;
}

.time-fields {
  select {
    width: 50px !important;
  }
  input {
    width: 80px !important;
  }
}

.sandbox-dialog {
  h3 {
    display: inline-block;
    margin: 0;
    line-height: inherit;
  }
}

.dat {
  color: rgb(128, 0, 0);
  font-weight: 900;
}

fieldset fieldset {

  legend {
    padding-left: 180px;
    font-size: 18px;
    border-bottom: 0;
  }
}


@media (max-width: 767px) {
  fieldset fieldset legend {
    padding: 0
  }
}