=form_tag '', method: :get, class: 'form-inline' do
  Show Shift Territory:
  =select_tag :shift_territory_id, options_from_collection_for_select(current_region.shift_territories.enabled, :id, :name, current_scopes[:shift_territory_id]), class: "form-control"
  =submit_tag 'Show', class: 'btn btn-primary'

.legend
  %span.text-success
    %i.fa.fa-check-square
    Available
  %span
    %i.fa.fa-square-o 
    Not Available (Flex)
  %span.text-danger 
    %i.fa.fa-times-circle
    Not Available (Committed)
%table.table.table-bordered.table-condensed
  %thead
    %tr
      %th Name
      %th Last Contacted
      %th Available
      %th Not Available
      %th(colspan=max_responses) 
        Responses

  %tbody
    - responders.each do |responder, assignments|
      - recent = assignments.first
      %tr
        %th=link_to responder.full_name, responder
        %td=recent && recent.incident.date.to_s(:mdy)
        %td=assignments.select(&:was_available).count
        %td=assignments.reject{|r| r.was_available || r.was_flex }.count
        - assignments.first(max_responses).each do |ass|
          %td
            %a{href: incidents_region_incident_path(ass.incident.region, ass.incident), title: tooltip_for(ass)}(data-toggle="tooltip")
              -if ass.was_available
                %i.icon-large.fa.fa-check-square.text-success
              -elsif ass.was_flex
                %i.icon-large.fa.fa-square-o
              -else
                %i.icon-large.fa.fa-times-circle.text-danger
            /=ass.humanized_role
        - (max_responses-assignments.count).times do
          %td

:javascript
  $("[data-toggle='tooltip']").tooltip();