%h4 Recent Incidents
-recent_incidents.first(7).each do |inc|
  - inc = Incidents::IncidentPresenter.new inc
  - @new_sms=Incidents::ResponderMessage.unacknowledged_for_incident(inc.id)

  .incident-box(data-incident-id="#{inc.id}")
    %strong
      .pull-right
        -if @new_sms.present? 
          %i.fa.fa-comment(style="color: red")
        -if inc.status == 'open'
          %span.label.label-success Open
        =inc.humanized_incident_type
    -if can?(:read, inc) && can?(:read, inc.region)
      %a{:href => incident_path(inc)}<
        =render :partial => 'incident_link', :locals => { :inc => inc }
    -else
      =render :partial => 'incident_link', :locals => { :inc => inc }
    %strong
      %small(style="color: grey")=inc.incident_number
    %br
    -if inc.valid_incident?
      =inc.demographics_description.titleize
    -else
      -if log = inc.latest_event_log
        /Open Incident -
        =log.humanized_event
        =time_on_at log.event_time
      -else
        Created
        =time_on_at inc.created_at
