%h4 Recent Incidents
-recent_incidents.first(7).each do |inc|
  - inc = Incidents::IncidentPresenter.new inc
  .incident-box(data-incident-id="#{inc.id}")
    %strong
      .pull-right
        %span.label.label-success incoming_messages(inc.id).present
        -if inc.status == 'open'
          %span.label.label-success Open
        =inc.humanized_incident_type
      =incident_link inc
      %small(style="color: grey")=inc.incident_number
    %br
    -if inc.valid_incident?
      =inc.demographics_description.titleize
    -else
      -if log = inc.latest_event_log
        /Open Incident -
        =log.humanized_event
        =time_on_at log.event_time
      -else
        Created
        =time_on_at inc.created_at
