.all-incidents-map.fixed-map
.map-filter-wrapper
  .well.sidebar-nav
    Showing 
    =pluralize @incidents.count, 'Incident'
    =search_form_for @search, html: {class: 'form-inline'}, url: '' do |f|
      .field
        %h5 Incident Number:
        =f.text_field :incident_number_cont
      .field
        %h5 County:
        =f.select :area_id_eq, options_from_collection_for_select(current_chapter.counties, :id, :name, params[:q].try(:[], :area_id_eq)), include_blank: true
      .field
        City:
        =f.text_field :city_cont
      .field
        %h5 Incidents Between
        .input-prepend
          %span.add-on
            %i.icon-calendar
          =f.text_field :date_gteq, "data-provide" => "datepicker", "data-date-format" => "yyyy-mm-dd"
        %br
        and
        %br
        .input-prepend
          %span.add-on
            %i.icon-calendar
          =f.text_field :date_lteq, "data-provide" => "datepicker", "data-date-format" => "yyyy-mm-dd"
      .field
        %h5 Display As:
        %label.radio
          =radio_button_tag :map_marker_type, 'marker', (params[:map_marker_type] == 'marker'), id: "map_marker_type_marker"
          =label 'map_marker_type_marker', 'Marker'
        %label.radio
          =radio_button_tag :map_marker_type, 'heatmap', (params[:map_marker_type] != 'marker'), id: "map_marker_type_heatmap"
          =label 'map_marker_type_heatmap', 'Heatmap'
      
      .field
        %br
        =f.submit 'Search', class: "btn"

- content_for :footer_js do
  = google_maps_javascript('visualization')
  :javascript
    allIncidentsMapController = new AllIncidentsHeatmapController(#{map_json_for(@incidents).to_json}, #{(params[:map_marker_type] || 'heatmap').to_json})