= semantic_form_for resource, url: form_url, builder: FormtasticBootstrap::FormBuilder, html: {class: 'form-horizontal'} do |f|
  =f.fields_for :incident do |f|
    =f.input :status, as: :hidden, input_html: {value: 'closed'}
  .row
    .col-sm-12
      =f.semantic_errors

  - tabs = tabs_to_render(f)
  - debug_errors = false
  - all_errors = error_keys(f.object)
  - pp all_errors if debug_errors
  - components = tabs.map{|name| p = FormProxy.new(f); html = render(name, f: p); pp name, p.keys if debug_errors; {name => {proxy: p, html: html, errors: (all_errors & p.keys).present?}}}.reduce(&:merge)
  - first_error = tabs.detect{|name| components[name][:errors] }
  - components.each_with_index { |(name, opts), idx| opts[:active] = (first_error == name || (idx == 0 && first_error.nil?)) }
  /
    =all_errors.inspect
  /
    =f.object.errors.full_messages

  .tabbable
    %ul.nav.nav-tabs
      - tabs.each do |name|
        - title = tab_titles[name]
        %li{class: components[name][:active] && 'active'}
          %a{data: {toggle: 'tab', target: '#' + name}, class: (components[name][:errors] && 'error')}
            =title
            %span.error-message

  .tab-content
    - tabs.each_with_index do |name, idx|
      .tab-pane{id: name, class: components[name][:active] && 'active'}=components[name][:html]

- content_for :footer_js do
  :javascript
    window.formController = new DatIncidentsFormController();
    $(function() {
      if ('hash' in window.location) {
        var hash = window.location.hash;
        hash && $('ul.nav a[data-target="' + hash + '"]').tab('show');
      }
      if ('history' in window && 'replaceState' in window.history) {
        $('a[data-toggle=tab]').on('shown.bs.tab', function(evt) {
          window.history.replaceState({}, '', $(evt.target).attr('data-target'))
        });
      }

      $.fn.editable.defaults.mode = 'inline';
      $('[data-editme]').editable()
    });

