.row
  .col-sm-6
    =panel 'basic', f
  .col-sm-6
    =panel 'demographics', f

=panel 'location', f

.row
  .col-sm-6
    =panel 'damage_assessment', f
  .col-sm-6
    =f.inputs "Timeline" do
      =f.semantic_fields_for :incident do |f|
        =f.semantic_fields_for :timeline do |tf|
          - f.object.timeline_collect_keys.each do |key|
            =tf.semantic_fields_for key, include_id: false do |tl|
              =tl.input :event_time, as: :time_field, label: Incidents::EventLog::INCIDENT_EVENT_TYPES[key], required: f.object.timeline_mandatory_keys.include?(key)
              -if tl.object.source_required?
                =tl.input :source, as: :assignable_select

.row
  .col-sm-12
    =f.actions do
      %a.btn.btn-default{href: '#', data: {target: "#form_responders", "toggle"=>"remote-tab"}} Go to Responders Page
