.row
  .span6
    =panel 'basic', f
  .span6
    =panel 'demographics', f

=panel 'location', f

.row
  .span6
    =panel 'damage_assessment', f
  .span6
    =f.inputs "Timeline" do
      =f.input :responder_notified, as: :time_field
      =f.input :responder_arrived, as: :time_field
      =f.input :responder_departed, as: :time_field

.row
  .span12
    =f.actions do
      %a.btn{href: "#responders", "data-toggle"=>"remote-tab"} Go to Responders Page
