= semantic_form_for resource, url: form_url, builder: FormtasticBootstrap::FormBuilder, html: {class: 'form-horizontal'} do |f|
  .row
    .span12
      =f.semantic_errors

  - basic_proxy = FormProxy.new(f); basic_html = render 'form_basic', f: basic_proxy
  - services_proxy = FormProxy.new(f); services_html = render 'form_services', f: services_proxy
  - responders_proxy = FormProxy.new(f); responders_html = render 'form_responders', f: responders_proxy
  - all_errors = f.object.errors.map{|key, err| err.present? && key}.compact
  - basic_has_errors = (all_errors & basic_proxy.keys).present?
  - responders_has_errors = (all_errors & responders_proxy.keys).present?
  - services_has_errors = ((all_errors & services_proxy.keys)).present?

  .tabbable
    %ul.nav.nav-tabs
      %li{class: (!responders_has_errors && !services_has_errors || basic_has_errors) && 'active'}
        %a{href: "#details", "data-toggle"=>"tab", class: (basic_has_errors && 'error')} 
          Details
          %span.error-message
      %li{class: (!basic_has_errors && responders_has_errors) && 'active'}
        %a{href: "#responders", "data-toggle"=>"tab", class: (responders_has_errors && 'error')} 
          Responders
          %span.error-message 
      %li{class: (!responders_has_errors && !basic_has_errors && services_has_errors) && 'active'}
        %a{href: "#services", "data-toggle"=>"tab", class: (services_has_errors && 'error')} 
          Services
          %span.error-message

  .tab-content
    .tab-pane#details{class: (!responders_has_errors && !services_has_errors || basic_has_errors) && 'active'}=basic_html

    .tab-pane#services{class: (!responders_has_errors && !basic_has_errors && services_has_errors) && 'active'}=services_html
      
    .tab-pane#responders{class: (!basic_has_errors && responders_has_errors) && 'active'}=responders_html

=render 'invalid_modal'

- content_for :footer_js do
  = javascript_include_tag "https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"
  :javascript
    incidentLocationController = new IncidentLocationController(#{resource.lat.to_json}, #{resource.lng.to_json});
    formController = new DatIncidentsFormController();
    $(function() {
      var hash = window.location.hash;
      hash && $('ul.nav a[href="' + hash + '"]').tab('show');

      $('a[data-toggle=tab]').on('shown', function(evt) {
        window.location.hash = $(evt.target).attr('href')
      })
    });
