= semantic_form_for resource, url: form_url, builder: FormtasticBootstrap::FormBuilder, html: {class: 'form-horizontal'} do |f|
  =f.fields_for :incident do |f|
    =f.input :status, as: :hidden, input_html: {value: 'closed'}
  .row
    .span12
      =f.semantic_errors

  - tabs = {'form_basic' => 'Basic', 'form_responders' => 'Responders', 'form_services' => 'Services'}
  - debug_errors = false
  - all_errors = error_keys(f.object)
  - pp all_errors if debug_errors
  - components = tabs.map{|name, title| p = FormProxy.new(f); html = render(name, f: p); pp name, p.keys if debug_errors; {name => {proxy: p, html: html, errors: (all_errors & p.keys).present?}}}.reduce(&:merge)
  - first_error = tabs.keys.detect{|name| components[name][:errors] }
  - components.each_with_index { |(name, opts), idx| opts[:active] = (first_error == name || (idx == 0 && first_error.nil?)) }

  .tabbable
    %ul.nav.nav-tabs
      - tabs.each do |name, title|
        %li{class: components[name][:active] && 'active'}
          %a{data: {toggle: 'tab', target: '#' + name, }, class: (components[name][:errors] && 'error')}
            =title
            %span.error-message

  .tab-content
    - tabs.each_with_index do |(name, title), idx|
      .tab-pane{id: name, class: components[name][:active] && 'active'}=components[name][:html]

- content_for :footer_js do
  :javascript
    window.formController = new DatIncidentsFormController();
    $(function() {
      var hash = window.location.hash;
      hash && $('ul.nav a[data-target="' + hash + '"]').tab('show');

      $('a[data-toggle=tab]').on('shown', function(evt) {
        window.history.replaceState({}, '', $(evt.target).attr('data-target'))
      })

      $.fn.editable.defaults.mode = 'inline';
      $('[data-editme]').editable()
    });

