.row
  .span6
    =f.inputs "Basic" do
      - readonly = resource.incident && !resource.incident.new_record?
      =f.input :completed_by, as: :string, input_html: {value: resource.completed_by.try(:full_name), readonly: true}
      =f.semantic_fields_for :incident do |f|
        =f.semantic_errors
        =f.input :incident_number, input_html: {readonly: readonly}
        =f.input :county, as: (readonly ? :string : :select), input_html: {readonly: readonly, value: resource.incident.try(:county).try(:name)}
        =f.input :date, as: (readonly ? :string : :bootstrap_date), input_html: {readonly: readonly}
      =f.input :incident_type, as: :select, collection: Incidents::DatIncident::INCIDENT_TYPES.map{|x| [x.titleize, x]}, include_blank: false
      =f.input :incident_call_type, as: :select, collection: Incidents::DatIncident::CALL_TYPES.map{|x| [x.titleize, x]}, include_blank: false
  .span6
    =f.inputs "Demographics" do
      =f.input :num_adults
      =f.input :num_children
      =f.input :num_families
      =f.input :num_people_injured
      =f.input :num_people_hospitalized
      =f.input :num_people_deceased

=f.inputs "Location" do
  .row
    %br
    .span6
      =f.input :search_for_address
      .control-group.address-lookup-group
        .controls
          %button.btn.btn-block.address-lookup Look Up Address
      =f.input :address, input_html: {readonly: true}
      =f.input :city, input_html: {readonly: true}
      =f.input :state, default: 'CA', input_html: {readonly: true}
      =f.input :zip, input_html: {readonly: true}
      =f.input :lat, as: :hidden, input_html: {readonly: true}
      =f.input :lng, as: :hidden, input_html: {readonly: true}
      =f.input :neighborhood, input_html: {readonly: true}
    .span6
      .incident-map{style: "height: 350px"}
.row
  .span6
    =f.inputs "Damage Assessment" do
      =f.input :structure_type, collection: Incidents::DatIncident::STRUCTURE_TYPES.map{|x| [x.titleize, x]}
      =f.input :units_affected
      =f.input :units_minor
      =f.input :units_major
      =f.input :units_destroyed
  .span6
    =f.inputs "Timeline" do
      =f.input :responder_notified, as: :time_field#, as: :time
      =f.input :responder_arrived, as: :string#as: :time_select, input_html: {discard_second: true}
      =f.input :responder_departed#, as: :string

.row
  .span12
    =f.actions do
      %a.btn{href: "#responders", "data-toggle"=>"tab"} Go to Responders Page