.row
  .span6
    =panel 'basic', f
  .span6
    =panel 'demographics', f

=panel 'location', f

.row
  .span6
    =panel 'damage_assessment', f
  .span6
    =f.inputs "Timeline" do
      =f.semantic_fields_for :incident do |f|
        =f.semantic_fields_for :timeline do |tf|
          - f.object.timeline_collect_keys.each do |key|
            =tf.input key.to_sym, as: :time_field, label: Incidents::EventLog::EVENT_TYPES[key], required: f.object.timeline_mandatory_keys.include?(key)

.row
  .span12
    =f.actions do
      %a.btn{href: '#', data: {target: "#form_responders", "toggle"=>"remote-tab"}} Go to Responders Page
