=f.inputs "Location" do
  -is_panel = params[:panel_name].present?
  .rowa
    %br
    %div{class: is_panel ? "" : "col-sm-6"}
      =f.input :search_for_address, hint: 'Enter as much information as you have about the address, and then click the "Look Up Address" button below.', input_html: {value: '', editable: false}
      .form-group.address-lookup-group
        .col-xs-5
        %button.btn.btn-default.address-lookup.col-xs-7 Look Up Address
      - detail_options = {readonly: true, editable: false}
      - detail_options[:value] = '' unless f.object.address_directly_entered
      =f.input :address, input_html: detail_options
      =f.input :city, input_html: detail_options
      =f.input :state, input_html: detail_options
      =f.input :zip, input_html: detail_options
      =f.input :lat, as: :hidden, input_html: detail_options
      =f.input :lng, as: :hidden, input_html: detail_options
      =f.input :neighborhood, input_html: detail_options
      =f.input :county, input_html: detail_options
      =f.input :address_directly_entered, as: :hidden, input_html: {value: '1'}
      -if f.object.region.incidents_report_allow_manual_address
        .form-group
          .col-xs-7.col-xs-offset-5
            =link_to "Edit Address", '#', class: 'manual-address', data: {confirm: "Are you sure you want to manually edit the address?  This should only be done as a last resort.  Use the search field to get as close as possible before manually editing."}
      - unless request.xhr?
        - content_for :footer_js do
          = google_maps_javascript
          :javascript
            $(function() {
              config = #{raw map_config(scope).to_json};
              window.incidentLocationController = window.incidentLocationController || new IncidentLocationController(#{raw f.object.lat.to_json}, #{raw f.object.lng.to_json}, config);
            });
    - unless is_panel
      .col-sm-6
        .incident-map{style: "height: 450px"}