=f.inputs "Fire" do
  =f.input :box
  =f.input :box_at, as: :time_field, include_now: true
  =f.input :battalion
  =f.input :number_of_alarms
  =f.input :where_started
  =f.input :under_control_at, as: :time_field, include_now: true
  =f.input :size_up
  =f.input :num_exposures
  =f.input :suspicious_fire
  =f.input :injury_black
  =f.input :injury_red
  =f.input :injury_yellow