=f.inputs "Services" do
  - services = f.object.services || []
  - local_services = []
  =f.semantic_errors :services
  =hidden_field_tag "incidents_dat_incident[services][]", ''
  .form-group
    %label.form-label Client Financial Assistance
    .form-wrapper
      - {"None" => 'none', "Emergency Housing" => 'housing', 'Food' => 'food', 'Clothing' => 'clothing', 'Medication' => 'medication'}.each do |label, val|
        - local_services << val
        .checkbox
          %label
            =check_box_tag "incidents_dat_incident[services][]", val, services.include?( val), class: 'cb-service'
            =label
  .form-group
    %label.form-label Other Assistance
    .form-wrapper
      - other_services = {"Mental Health Support" => 'mental_health', 'Translation' => 'translation', "Snacks for Clients" => 'client_snacks', "Spiritual Care" => 'spiritual_care'}
      - other_services["Referrals"] = 'referrals' if f.object.incident.chapter.incidents_report_advanced_details
      - other_services.each do |label, val|
        - local_services << val
        .checkbox
          %label
            - more_classes = (val == 'translation') ? {data: {bind: '.collapse.languages'}} : {}
            =check_box_tag( "incidents_dat_incident[services][]", val, services.include?( val), {class: "services-other-#{val}"}.merge(more_classes))
            =label

  -if @rendering_panel
    - (services - local_services).each do |service|
      =hidden_field_tag "incidents_dat_incident[services][]", service

  .form-group.collapse.languages{class: f.object.services.try(:include?, 'translation') && 'in'}
    %label.form-label Languages Translated
    .form-wrapper
      - languages = f.object.languages || []
      - all_languages = %w(english spanish cantonese mandarin vietnamese russian tagalog)
      - extra_languages = languages - all_languages
      - all_languages.each do |val|
        .checkbox
          %label
            =check_box_tag "incidents_dat_incident[languages][]", val, languages.include?( val)
            =val.titleize
      - extra_languages.each do |val|
        Other:
        = text_field_tag "incidents_dat_incident[languages][]", val, class: 'form-control col-xs-5'
      Other:
      = text_field_tag "incidents_dat_incident[languages][]", '', class: 'form-control col-xs-5'
