=f.inputs "Fire" do
  =f.input :box, label: "Box Number"
  =f.input :box_at, as: :time_field, include_now: true
  =f.input :battalion
  =f.input :num_alarms, label: "Number of Alarms"
  =f.input :where_started
  =f.input :under_control_at, as: :time_field, include_now: true
  =f.input :size_up
  =f.input :num_exposures
  =f.input :suspicious_fire
  =f.input :injuries_black
  =f.input :injuries_red
  =f.input :injuries_yellow