=f.inputs "On-Scene Feeding" do
  .control-group
    %label.control-label Canteening
    .controls
      - services = f.object.services || []
      - {'Canteened Responders' => 'canteened_responders', 'Canteened Clients' => 'canteened_clients'}.each do |label, val|
        %label.checkbox
          =check_box_tag( "incidents_dat_incident[services][]", val, services.include?( val), {class: "services-other-#{val}"})
          =label
  /=f.inputs "Meals Served" do
  =f.semantic_fields_for :incident do |f|
    =f.input :feeding_partner_used, as: :boolean, input_html: {data: {bind: '.collapse.meal'}}, label: 'Meal Served'
    .collapse.meal.overflow-visible{class: f.object.feeding_partner_used && 'in'}
      /-#=f.semantic_fields_for :evac_partner_use do |f|
      =f.input :feeding_partner_use, as: :partner, label: 'Food Vendor Name'
      =f.semantic_fields_for :feeding_partner_use do |f|
        =f.input :meals_served, as: :number, label: '# of Meals Served'