- provide :title, "Incident #{resource.incident.incident_number} - DCSOps"
%h2
  DAT Incident Report
  %small.pull-right
    %a{href:parent_path}
      %i.icon-chevron-left
      Back to Incident Summary
=render 'form', :resource => resource